@import "engineui.less";
@import "document.less";

// API View
// --------------------------------------------------

.btn-purchase-api {
  &:extend(.btn);
  &:extend(.btn-primary);
  &:extend(.btn-md);
  &:extend(.pull-right);

  margin: 1.5em 1em auto auto;
}

.api-list {
  &:extend(.container-fluid);

  .api {
    &:extend(.bar all);

    .name,
    .status,
    .data-usage,
    .billing-cycle,
    .calls,
    .queries {
      &:before {
        white-space: pre;
        font-size: @font-size-h6;
        text-transform: uppercase;
      }
    }

    .name {
      &:extend(.col-md-2);

      &:before {
      content: "Name\A";
      }

    }

    .status {
      &:extend(.col-md-1);

      text-align: center;

      &:before {
        content: "Status\A";
      }

      > i {
        font-size: @font-size-h4;
      }

      i.fa-smile-o {
        color: @brand-success;
      }

      i.fa-meh-o {
        color: @brand-warning;
      }

      i.fa-frown-o {
        color: @brand-danger;
      }

    }

    .data-usage,
    .billing-cycle {

      .progress {
        margin-bottom: 0.5em;
      }
    }

    .data-usage {
      &:extend(.col-md-3);

      &:before {
        content: "Data Usage\A";
      }
    }

    .billing-cycle {
      &:extend(.col-md-3);

      &:before {
        content: "Billing Cycle\A";
      }
    }

    .calls {
      &:extend(.col-md-1);

      &:before {
        content: "Calls\A";
      }
    }

    .queries {
      &:extend(.col-md-1);

      &:before {
        content: "Queries\A";
      }
    }

    .actions {
      &:extend(.col-md-1);

      > a {
        &:extend(.pull-right);
        padding-left: 0.5em;
        font-size: @font-size-h4;
        color: @gray-light;
      }
    }

    // REMOVE: START - Logo demonstration purposes only
    .account-logo {
      .fa-stack {
        i.fa-circle {
          color: orange;
        }

        i.fa-btc {
          margin-top: -1px;
        }
      }
    }
    // REMOVE: END

  }

  .account-default {
    .select-default {
      &:before {
        content: "\f005";
        color: @brand-warning;
      }
    }
  }
}
