@import "engineui.less";
@import "document.less";
@import "payments.less";
@import "accounts.less";
@import "accounts-detail.less";
@import "api.less";
@import "api-detail.less";
@import "profile.less";

// Main Elements & Classes
// --------------------------------------------------
body {
  width: 100%;
  padding: 0;

  > div {
    &:extend(.wrap);
  }
}

.wrap {
    width: 100%;
    min-height: 100%;
    height: 100%;
}

header {
  > nav {
    > div {
      &:extend(.container-fluid);
    }
  }
}

main {
  &:extend(.container-fluid);

  overflow:auto;
  padding-bottom: 60px;
  height: 100%;
}

a.nav-previous {
  &:extend(.pull-right);

  margin: 2.5% 2% 0;
  text-decoration: none;
}

// Dashboard: Wrapper & Content styling
// --------------------------------------------------
.dashboard-wrapper {     // contains sidebar navigation + dashboard content
  &:extend(.row);

  height: 100%;
}

.dashboard-content {
  &:extend(.container-fluid, .col-xs-12, .col-md-9, .col-lg-9);

  padding: 0 15px;
  height: 100%;

  .row {
    .dashboard-accounts,
    .dashboard-api {
      &:extend(.col-xs-12, .col-md-6, .col-lg-6);
    }

    .dashboard-api {
      .api-list {
        .api {
          .name {
            &:extend(.col-md-2);

          }

          .status {
            &:extend(.col-md-2);

          }

          .data-usage {
            &:extend(.col-md-3);

          }

          .billing-cycle {
            &:extend(.col-md-3);

          }

          .actions {
            &:extend(.col-md-2);

          }
        }
      }

    }

    .dashboard-accounts {
      .accounts-list {
        .account {
          .select-default {
            &:extend(.col-md-1);

          }

          .name {
            &:extend(.col-md-3);

          }

          .address {
            &:extend(.col-md-3);

          }

          .balance {
            &:extend(.col-md-2);

          }

          .actions {
            &:extend(.col-md-3);

          }
        }
      }
    }

    h4 {
      border-bottom: 1px @gray-even-lighter solid;

      > a {
        font-size: @font-size-h6;
      }
    }
  }
}

// Nav variations
// --------------------------------------------------
.nav-dashboard-wrapper {
  &:extend(.col-xs-12, .col-md-3, .col-lg-3);

  padding: 0;
  height: 100%;
  background-color: @gray-even-lighter;

  .nav-dashboard {
    padding: 0;
    height: 100%;
    background-color: @gray-even-lighter;
  }

  .list-group {
    margin-bottom: 0;

    > .list-group-item {
      padding: 0;
      background-color: @gray-even-lighter;
      border-radius: 0;
      border: none;
    }

    > li:first-child {
        > a {
          border-top: 0;
        }
      }

    > li {
      > a {
        margin-bottom: 1px;
        padding: 20px;
        color: @gray-light;
        font-size: @font-size-h4;
        border-top: 1px @gray-lightest solid;
        border-bottom: 1px @gray-lighter solid;
        border-right: none;

        &:hover, .active {
          color: @brand-primary;
          background-color: #fff;
        }

      }

      i {
        margin-right: 5px;
      }
    }
  }
}

// Dashboard Content Subnavigation with Search (e.g. Payments - Purchase, Single, Subs, etc.)
// -------------------------------------------------
.nav-content {
  &:extend(.col-xs-12, .col-md-10);

  padding: 20px;

  a {
    color: @gray-darker;
  }

  form {
    width: 150px;

    button {
      background-color: #fff;
    }
  }

  .navbar-form {
    margin: 5.5px auto;
  }
}

// Dropdown menus
// --------------------------------------------------
.avatar {
  margin-top: -7px;
}

// Status Icon
// --------------------------------------------------
i.fa-smile-o {
  color: @brand-success;
}

i.fa-meh-o {
  color: @brand-warning;
}

i.fa-frown-o {
  color: @brand-danger;
}

// Footer
// --------------------------------------------------
footer {
  position: relative;
  clear: both;
  margin-top: -60px;
  width: 100%;
  height: 60px;
  color: #FFF;
  background-color: #393939;

  > div {
    &:extend(.container-fluid);

    > p {
      padding-top: 20px;
    }
  }
}
