// Profile Settings
// --------------------------------------------------
.avatar-profile {
  &:extend(.col-xs-12, .col-md-2, .col-lg-2);

  .fa-5x {
    font-size: 150px;
    color: @gray-even-lighter;
  }
}

.profile-form {
  &:extend(.col-xs-12, .col-md-10, .col-lg-10);

  margin-top: 1%;
  width: 50%;
}

.password-change {
  margin-top: -15px;
  padding: 20px;
  background-color: @gray-even-lighter;

  label.control-label {
    text-align: left;
  }
}
