<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Engine: Developer Billing</title>

    <!-- Bootstrap -->
    <link href="../../../style/billing.css" rel="stylesheet" />

    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href="../../../css/font-awesome.min.css" rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <div class="wrap">
      <header>
        <nav class="navbar navbar-default" role="navigation">
          <div>
            <div class="navbar-header">
              <a class="navbar-brand" href="#">Engine Developer Billing</a>
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navigation">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div><!-- /.navbar-header -->
            <div id="main-navigation" class="collapse navbar-collapse">
              <ul class="nav navbar-nav nav-pills navbar-right">
                <li>
                  <a href="#">
                    Tour
                  </a>
                </li>
                <li>
                  <a href="#">
                    New Features
                  </a>
                </li>
                <li>
                  <a href="#">
                    API Docs
                  </a>
                </li>
                <li>
                  <a href="#">
                    Support
                  </a>
                </li>
                <li>
                  <a href="#">
                    Contact
                  </a>
                </li>
                <li class="dropdown avatar">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="fa-stack fa-lg">
                      <i class="fa fa-circle fa-stack-2x"></i>
                      <i class="fa fa-user fa-stack-1x fa-inverse"></i>
                    </span>
                    becky@engine.co<b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Account Settings</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Log Out</a></li>
                  </ul>
                </li>
              </ul>
            </div><!-- /#main-navigation -->
          </div><!-- /.container-fluid -->
        </nav>
      </header>

      <main>
        <div class="dashboard-wrapper">
          <div class="nav-dashboard-wrapper">
            <ul class="nav nav-dashboard list-group" >
              <li class="list-group-item">
                <a href="#">
                  <i class="fa fa-dashboard"></i> Dashboard
                </a>
              </li>
              <li class="list-group-item">
                <a href="#" class="active">
                  <i class="fa fa-money"></i> Payments &amp; Plans
                </a>
              </li>
              <li class="list-group-item">
                <a href="#">
                  <i class="fa fa-th-list"></i> Accounts
                </a>
              </li>
              <li class="list-group-item">
                <a href="#">
                  <i class="fa fa-code-fork"></i> API
                </a>
              </li>
            </ul><!-- /.nav-dashboard -->
          </div><!-- /.nav-dashboard-wrapper -->

          <div class="dashboard-content">
            <h1 class="pull-left">
              Payments
            </h1>
            <ul class="nav nav-pills nav-secondary">
              <li>
                <a href="#">
                  Purchase API
                </a>
              </li>
              <li>
                <a href="#">
                  Single Payment
                </a>
              </li>
              <li>
                <a href="#">
                  Subscriptions
                </a>
              </li>
              <li>
                <a href="#">
                  Payment History
                </a>
              </li>
            </ul>
            <form class="nav-secondary-form navbar-form pull-right" role="search" style="width:200px;">
              <div class="input-group input-group-sm">
                <input type="text" class="form-control">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button">
                      <i class="fa fa-search"></i>
                  </button>
                </span>
              </div><!-- /input-group -->
            </form>

            <h3>Check out our available API plans:</h3>

            <div class="md-modal md-show md-effect-1" id="modal-purchaseReview">
              <div class="md-content">
                <div class="modal-controls">
                  <a href="#" class="modal-previous">
                    <i class="fa fa-long-arrow-left"></i>Previous
                  </a>
                  <a href="#" class="modal-close md-close">
                    <i class="fa fa-times-circle"></i>
                  </a>
                </div><!-- /.modal-controls -->

                <div class="md-content-container">
                  <h3>Review Your Order</h3>
                  <p>Review your purchase and confirm:</p>
                  <div class="review-order">
                    <div class="order-details">
                      <div class="api-type">
                        <h4>
                          API Type
                          <a href="#" class="pull-right">
                            Edit
                          </a>
                        </h4>
                        <p>
                          Data Access
                        </p>
                      </div>
                      <div class="api-limit">
                        <h4>
                          API Limit
                          <a href="#" class="pull-right">
                            Edit
                          </a>
                        </h4>
                        <table>
                          <tr>
                            <td>
                              Limit:
                            </td>
                            <td>
                              100 Calls - <span class="text-success">$99.99</span>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              Recurring:
                            </td>
                            <td>
                              Every 1 week
                            </td>
                          </tr>
                          <tr>
                            <td>
                              Start Date:
                            </td>
                            <td>
                              Jan 01, 2014
                            </td>
                          </tr>
                          <tr>
                            <td>
                              End Date:
                            </td>
                            <td>
                              Jan 31, 2014
                            </td>
                          </tr>
                        </table>
                      </div>
                      <div class="api-payment">
                        <h4>
                          Payment
                          <a href="#" class="pull-right">
                            Edit
                          </a>
                        </h4>
                        <div class="accounts-list">
                          <div class="account">
                            <div class="account-logo">
                              Bitcoin
                            </div>
                            <div class="name">
                              devBitcoin
                            </div>
                            <div class="address">
                              1AQbaRey3...
                            </div>
                            <div class="balance">
                              3
                            </div>
                            <div class="type">
                              Type
                            </div>
                          </div>
                        </div><!-- /.accounts-list -->
                      </div>
                    </div>
                    <div class="order-summary">
                      <h4>Order Summary</h4>
                      <table>
                        <tr>
                          <td>
                            Facebook API
                          </td>
                          <td>
                            $99.99
                          </td>
                        </tr>
                        <tr class="subtotal">
                          <td>
                            Subtotal:
                          </td>
                          <td>
                            $99.99
                          </td>
                        </tr>
                        <tr>
                          <td>
                            Total:
                          </td>
                          <td>
                            $99.99
                          </td>
                        </tr>
                      </table>
                      <button type="button" class="btn-submit-block">Purchase API</button>
                    </div>
                  </div>
                </div><!-- /.md-content-container -->
              </div><!-- /.md-content -->
            </div><!-- /.md-modal -->

            <div class="payment-offerings">
              <div class="single-payment">
                <h4>No Commitment. Pay As You Go.</h4>
                <ul>
                  <li>
                    Lorem ipsum dolor sit amet consetur.
                  </li>
                  <li>
                    Phasellus condimentum ligula et metus eleifend varius.
                  </li>
                  <li>
                    Quisque laoreet vel mauris ac congue.
                  </li>
                  <li>
                    Curabitur ut ultrices sapien, in massa.
                  </li>
                </ul>
                <button type="button" class="btn-submit-block md-trigger" data-modal="modal-purchaseAPI">Single Payment</button>
              </div>
              <div class="subscription">
                <h4>Start Your API Subscription</h4>
                <ul>
                  <li>
                    Lorem ipsum dolor sit amet consetur.
                  </li>
                  <li>
                    Phasellus condimentum ligula et metus eleifend varius.
                  </li>
                  <li>
                    Quisque laoreet vel mauris ac congue.
                  </li>
                  <li>
                    Curabitur ut ultrices sapien, in massa.
                  </li>
                  <li>
                    Vestibulum sed elit volutpat interdum.
                  </li>
                  <li>
                    Sed aliquet id lacus id pharetra.
                  </li>
                </ul>
                <button type="button" class="btn-submit-block md-trigger" data-modal="modal-purchaseAPI">Start Subscription</button>
              </div>
            </div>

          </div><!-- /.dashboard-content -->
        </div><!-- /.dashboard-wrapper -->
      </main>
    </div><!-- / #wrap -->

    <footer>
      <div>
        <p>
          Copyright &copy; 2014 Engine, Inc.
          <a href="">
            Legal
          </a>
          <a href="">
            Terms of Service
          </a>
          <a href="">
            Privacy
          </a>
          <a href="">
            Contact
          </a>
        </p>
      </div>
    </footer>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../../../lib/bootstrap.js"></script>
    <script src="../../../lib/engine-plugins.js"></script>
    <script src="../../../lib/modal.js"></script>
    <script src="../../../lib/bootstrap-datepicker.js"></script>

  </body>
</html>
