@import "bootstrap/less/alerts.less";
@import "bootstrap/less/grid.less";

//
// Bars
// --------------------------------------------------

.bar {
  &:extend(.row);

  margin: @line-height-computed 0;
  padding: @alert-padding;
  background: @gray-even-lighter;
  border: 1px darken(@gray-even-lighter, 3%) solid;

  &:nth-child(even) {
    background: darken(@gray-even-lighter, 4%);
    border-color: darken(@gray-even-lighter, 6%);
  }

  &:hover {
    background-color: @green-accent;
    border-color: darken(@green-accent, 3%);
  }
}
