@import "bootstrap/less/input-groups.less";

//
// Input groups
// --------------------------------------------------

// Addon and addon wrapper for buttons
.input-group-addon,
.input-group-btn {
  width: 1%;
  white-space: nowrap;
  vertical-align: middle; // Match the inputs
  > .btn-default {
    background-color: #fff;
  }
}
